body {

	text-align: left;
	background-color: #FFF176;
	font-family: monospace;
	font-size: 20px;
	padding: 100px;

}

#container {
	width: 100%;
	margin: auto;
}

input {
	background-color: #FFF176;
	border: none;
	width: 300px;
	color: black;
	font-family: 'Shadows Into Light', cursive;
	font-size: 20px;
}

button {
	background-color: #F9A825;
	border: none;
	font-family: monospace;
	font-size: 30px;

}

ul {
	width: 300px;
	padding: 0;
}

li {

	list-style: none;
	border-bottom: 1px solid #F9A825;
	text-align: left;
	line-height: 170%;
	font-size: 20px;
	font-family: 'Shadows Into Light', cursive;


}

p {
	color: #F57F17;

}

span {
	font-weight: bold;
	padding: 5px;
	margin: 5px;
	color: #F57F17;
	font-family: 'Shadows Into Light', cursive;
	font-size: 30px;
}

.done {
  	text-decoration: line-through;
  	font-weight: bold;
}
