<!DOCTYPE html>
<html>

<title>Enter POV Data</title>

<link href="https://fonts.googleapis.com/css?family=Miriam+Libre" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:900" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">

<body>
  <div class="container">
    <div><h2>Nice! your observation has been noted.</h2></div>
    <div>
      <a href="index.html">Back to Home</a>
    </div>

    <!-- // use <% %> tags for embedded JS -->
    <p>You submitted: <%= response%></p>

    <p><a href='/display'>Visualize Krizia's POV</a></p>
  </div>
</body>
</html>
