<!DOCTYPE html>
<html>
<title>Submitted</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
<body>
    <h1>Your thoughts on Day 2 has been noted.</h1>
    <!-- // use <% %> tags for embedded JS -->
    <p>Day: <%= day%></p>
    <p>In search of: <%= search%></p>
    <p>I found: <%= found%></p>
    <p><a href='/display'>Visualize Krizia's POV</a></p>
</body>
</html>
