<!DOCTYPE html>
<html>

<title>Enter POV Data</title>

<link href="https://fonts.googleapis.com/css?family=Miriam+Libre" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:900" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">

<body>
    <div class="nav">
      <div class="col-md-8">
      <h1>Your thoughts on Day 2 has been noted.</h1>
      </div>
      <div class="col-md-4">
      <h4><a href="index.html">Back to Home</a></h4>
    </div>

    <!-- // use <% %> tags for embedded JS -->
    <p>You submitted: <%= response%></p>

    <p><a href='/display'>Visualize Krizia's POV</a></p>
</body>
</html>
