<!DOCTYPE html>
<html>
<title>Submitted</title>
<link rel="stylesheet" type="text/css" href="style.css">
<body>
    <h3>You are published!</h3>
    <!-- // use <% %> tags for embedded JS -->
    <p>Krizia's POV's: <%= response%></p>
    <p><a href='/display'>Check everythingelse</a></p>
</body>
</html>
