<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="css/style.css">
<title>Enter POV Data</title>
!-- Custom Font - Change 'Muli' to the font you want -->
<link href="https://fonts.googleapis.com/css?family=Muli:400,700,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Miriam+Libre" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:900" rel="stylesheet">

</head>
<body>
    <div class="nav">
      <div class="col-md-8">
      <h1>Your thoughts on Day 2 has been noted.</h1>
      </div>
      <div class="col-md-4">
      <h4><a href="index.html">Visualization</a></h4>
      <h4><a href="form.html">What Are You Looking For?</a></h4>
    </div>

    <!-- // use <% %> tags for embedded JS -->
    <p>You submitted: <%= response%></p>

    <p><a href='/display'>Visualize Krizia's POV</a></p>
</body>
</html>
