<!DOCTYPE html>
<html>
<title>DATA CLOUD</title>
<link rel="stylesheet" type="text/css" href="style.css">
<body>
    <h3>Check Your Feelings</h3>
    <!-- // use <% %> tags for embedded JS -->
    <!-- <% for (var i = 0; i < submissions_on_page.length; i++) { %>
    <%= submissions_on_page[i] %> <br>
    <% } %> -->

    <!-- handy-dandy ejs syntax notes -->
    <!-- https://stackoverflow.com/questions/10326950/render-a-variable-as-html-in-ejs -->
    <% for (var i = 0; i < submissions_on_page.length; i++) { %>
    <%      var fontSize = Math.floor(Math.random() * 80) + 10; %>
    <div style="font-size: <%- fontSize %>px"> <%= submissions_on_page[i]; %>
    </div>
    <% } %>
    <p><a href='/form.html'>submit another</a></p>
</body>
</html>
